<% provide(:title, 'Photo') %>
<% if signed_in? %>
  <p>
    <% @picture_title.each do |p_title| %>
    <img src=<%= p_title %> width=300, height=300>
    <% end %>
  </p>
<% else %>
  <h1>Photo</h1>
  <p>
    air camera photo.
  </p>
<% end %>
